<div class="container-fluid">
  <h1>Criteria Rating(準則評分)</h1>

  <div class="row">
    <div class="col-lg-8">
  <form name="form" (ngSubmit)="surveyForm.form.valid && survey()" #surveyForm="ngForm">

      <!--<div class="form-group">
        <label>此選項相對於右邊來說，左邊的重要程度</label>
        <div class="radio" *ngFor="let ques of quess">
          <label>
            <input type="radio" name="ques" [(ngModel)]="model.ques" [value]="model.value">
            {{ques.display}}
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="power">Hero Power</label>
        <select class="form-control" id="power" required>
        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
      </div>-->
      <h3><label>This option is relative to the right side, the importance of the left side. (此選項相對於右邊來說，左邊的重要程度)</label></h3>
      <h4>
        C1
            <label [class.selected]="c1c21.checked">
                <input #c1c21 type="radio" name="c1_c2" value="9" [(ngModel)]="model.c1_c2" (change)="logRadio(c1c21)" required> 9:1
            </label>
            <label [class.selected]="c1c22.checked">
                <input #c1c22 type="radio" name="c1_c2" value="7" [(ngModel)]="model.c1_c2" (change)="logRadio(c1c22)"> 7:1
            </label>
            <label [class.selected]="c1c23.checked">
                <input #c1c23 type="radio" name="c1_c2" value="5" [(ngModel)]="model.c1_c2" (change)="logRadio(c1c23)"> 5:1
            </label>
            <label [class.selected]="c1c24.checked">
                <input #c1c24 type="radio" name="c1_c2" value="3" [(ngModel)]="model.c1_c2" (change)="logRadio(c1c24)"> 3:1
            </label>
            <label [class.selected]="c1c25.checked">
                <input #c1c25 type="radio" name="c1_c2" value="1" [(ngModel)]="model.c1_c2" (change)="logRadio(c1c25)"> 1:1
            </label>
            <label [class.selected]="c1c26.checked">
                <input #c1c26 type="radio" name="c1_c2" value="0.33" [(ngModel)]="model.c1_c2" (change)="logRadio(c1c26)"> 1:3
            </label>
            <label [class.selected]="c1c27.checked">
                <input #c1c27 type="radio" name="c1_c2" value="0.2" [(ngModel)]="model.c1_c2" (change)="logRadio(c1c27)"> 1:5
            </label>
            <label [class.selected]="c1c28.checked">
                <input #c1c28 type="radio" name="c1_c2" value="0.14" [(ngModel)]="model.c1_c2" (change)="logRadio(c1c28)"> 1:7
            </label>
            <label [class.selected]="c1c29.checked">
                <input #c1c29 type="radio" name="c1_c2" value="0.11" [(ngModel)]="model.c1_c2" (change)="logRadio(c1c29)"> 1:9
            </label>
        C2
      </h4>
      <h4>
        C1
            <label [class.selected]="c1c31.checked">
                <input #c1c31 type="radio" name="c1_c3" value="9" [(ngModel)]="model.c1_c3" (change)="logRadio(c1c31)" required> 9:1
            </label>
            <label [class.selected]="c1c32.checked">
                <input #c1c32 type="radio" name="c1_c3" value="7" [(ngModel)]="model.c1_c3" (change)="logRadio(c1c32)"> 7:1
            </label>
            <label [class.selected]="c1c33.checked">
                <input #c1c33 type="radio" name="c1_c3" value="5" [(ngModel)]="model.c1_c3" (change)="logRadio(c1c33)"> 5:1
            </label>
            <label [class.selected]="c1c34.checked">
                <input #c1c34 type="radio" name="c1_c3" value="3" [(ngModel)]="model.c1_c3" (change)="logRadio(c1c34)"> 3:1
            </label>
            <label [class.selected]="c1c35.checked">
                <input #c1c35 type="radio" name="c1_c3" value="1" [(ngModel)]="model.c1_c3" (change)="logRadio(c1c35)"> 1:1
            </label>
            <label [class.selected]="c1c36.checked">
                <input #c1c36 type="radio" name="c1_c3" value="0.33" [(ngModel)]="model.c1_c3" (change)="logRadio(c1c36)"> 1:3
            </label>
            <label [class.selected]="c1c37.checked">
                <input #c1c37 type="radio" name="c1_c3" value="0.2" [(ngModel)]="model.c1_c3" (change)="logRadio(c1c37)"> 1:5
            </label>
            <label [class.selected]="c1c38.checked">
                <input #c1c38 type="radio" name="c1_c3" value="0.14" [(ngModel)]="model.c1_c3" (change)="logRadio(c1c38)"> 1:7
            </label>
            <label [class.selected]="c1c39.checked">
                <input #c1c39 type="radio" name="c1_c3" value="0.11" [(ngModel)]="model.c1_c3" (change)="logRadio(c1c39)"> 1:9
            </label>
        C3
      </h4>
      <h4>
        C1
            <label [class.selected]="c1c41.checked">
                <input #c1c41 type="radio" name="c1_c4" value="9" [(ngModel)]="model.c1_c4" (change)="logRadio(c1c41)" required> 9:1
            </label>
            <label [class.selected]="c1c42.checked">
                <input #c1c42 type="radio" name="c1_c4" value="7" [(ngModel)]="model.c1_c4" (change)="logRadio(c1c42)"> 7:1
            </label>
            <label [class.selected]="c1c43.checked">
                <input #c1c43 type="radio" name="c1_c4" value="5" [(ngModel)]="model.c1_c4" (change)="logRadio(c1c43)"> 5:1
            </label>
            <label [class.selected]="c1c44.checked">
                <input #c1c44 type="radio" name="c1_c4" value="3" [(ngModel)]="model.c1_c4" (change)="logRadio(c1c44)"> 3:1
            </label>
            <label [class.selected]="c1c45.checked">
                <input #c1c45 type="radio" name="c1_c4" value="1" [(ngModel)]="model.c1_c4" (change)="logRadio(c1c45)"> 1:1
            </label>
            <label [class.selected]="c1c46.checked">
                <input #c1c46 type="radio" name="c1_c4" value="0.33" [(ngModel)]="model.c1_c4" (change)="logRadio(c1c46)"> 1:3
            </label>
            <label [class.selected]="c1c47.checked">
                <input #c1c47 type="radio" name="c1_c4" value="0.2" [(ngModel)]="model.c1_c4" (change)="logRadio(c1c47)"> 1:5
            </label>
            <label [class.selected]="c1c48.checked">
                <input #c1c48 type="radio" name="c1_c4" value="0.14" [(ngModel)]="model.c1_c4" (change)="logRadio(c1c48)"> 1:7
            </label>
            <label [class.selected]="c1c49.checked">
                <input #c1c49 type="radio" name="c1_c4" value="0.11" [(ngModel)]="model.c1_c4" (change)="logRadio(c1c49)"> 1:9
            </label>
        C4
      </h4>
      <h4>
        C1
            <label [class.selected]="c1c51.checked">
                <input #c1c51 type="radio" name="c1_c5" value="9" [(ngModel)]="model.c1_c5" (change)="logRadio(c1c51)" required> 9:1
            </label>
            <label [class.selected]="c1c52.checked">
                <input #c1c52 type="radio" name="c1_c5" value="7" [(ngModel)]="model.c1_c5" (change)="logRadio(c1c52)"> 7:1
            </label>
            <label [class.selected]="c1c53.checked">
                <input #c1c53 type="radio" name="c1_c5" value="5" [(ngModel)]="model.c1_c5" (change)="logRadio(c1c53)"> 5:1
            </label>
            <label [class.selected]="c1c54.checked">
                <input #c1c54 type="radio" name="c1_c5" value="3" [(ngModel)]="model.c1_c5" (change)="logRadio(c1c54)"> 3:1
            </label>
            <label [class.selected]="c1c55.checked">
                <input #c1c55 type="radio" name="c1_c5" value="1" [(ngModel)]="model.c1_c5" (change)="logRadio(c1c55)"> 1:1
            </label>
            <label [class.selected]="c1c56.checked">
                <input #c1c56 type="radio" name="c1_c5" value="0.33" [(ngModel)]="model.c1_c5" (change)="logRadio(c1c56)"> 1:3
            </label>
            <label [class.selected]="c1c57.checked">
                <input #c1c57 type="radio" name="c1_c5" value="0.2" [(ngModel)]="model.c1_c5" (change)="logRadio(c1c57)"> 1:5
            </label>
            <label [class.selected]="c1c58.checked">
                <input #c1c58 type="radio" name="c1_c5" value="0.14" [(ngModel)]="model.c1_c5" (change)="logRadio(c1c58)"> 1:7
            </label>
            <label [class.selected]="c1c59.checked">
                <input #c1c59 type="radio" name="c1_c5" value="0.11" [(ngModel)]="model.c1_c5" (change)="logRadio(c1c59)"> 1:9
            </label>
        C5
      </h4>
      <h4>
        C2
            <label [class.selected]="c2c31.checked">
                <input #c2c31 type="radio" name="c2_c3" value="9" [(ngModel)]="model.c2_c3" (change)="logRadio(c2c31)" required> 9:1
            </label>
            <label [class.selected]="c2c32.checked">
                <input #c2c32 type="radio" name="c2_c3" value="7" [(ngModel)]="model.c2_c3" (change)="logRadio(c2c32)"> 7:1
            </label>
            <label [class.selected]="c2c33.checked">
                <input #c2c33 type="radio" name="c2_c3" value="5" [(ngModel)]="model.c2_c3" (change)="logRadio(c2c33)"> 5:1
            </label>
            <label [class.selected]="c2c34.checked">
                <input #c2c34 type="radio" name="c2_c3" value="3" [(ngModel)]="model.c2_c3" (change)="logRadio(c2c34)"> 3:1
            </label>
            <label [class.selected]="c2c35.checked">
                <input #c2c35 type="radio" name="c2_c3" value="1" [(ngModel)]="model.c2_c3" (change)="logRadio(c2c35)"> 1:1
            </label>
            <label [class.selected]="c2c36.checked">
                <input #c2c36 type="radio" name="c2_c3" value="0.33" [(ngModel)]="model.c2_c3" (change)="logRadio(c2c36)"> 1:3
            </label>
            <label [class.selected]="c2c37.checked">
                <input #c2c37 type="radio" name="c2_c3" value="0.2" [(ngModel)]="model.c2_c3" (change)="logRadio(c2c37)"> 1:5
            </label>
            <label [class.selected]="c2c38.checked">
                <input #c2c38 type="radio" name="c2_c3" value="0.14" [(ngModel)]="model.c2_c3" (change)="logRadio(c2c38)"> 1:7
            </label>
            <label [class.selected]="c2c39.checked">
                <input #c2c39 type="radio" name="c2_c3" value="0.11" [(ngModel)]="model.c2_c3" (change)="logRadio(c2c39)"> 1:9
            </label>
        C3
      </h4>
      <h4>
        C2
            <label [class.selected]="c2c41.checked">
                <input #c2c41 type="radio" name="c2_c4" value="9" [(ngModel)]="model.c2_c4" (change)="logRadio(c2c41)" required> 9:1
            </label>
            <label [class.selected]="c2c42.checked">
                <input #c2c42 type="radio" name="c2_c4" value="7" [(ngModel)]="model.c2_c4" (change)="logRadio(c2c42)"> 7:1
            </label>
            <label [class.selected]="c2c43.checked">
                <input #c2c43 type="radio" name="c2_c4" value="5" [(ngModel)]="model.c2_c4" (change)="logRadio(c2c43)"> 5:1
            </label>
            <label [class.selected]="c2c44.checked">
                <input #c2c44 type="radio" name="c2_c4" value="3" [(ngModel)]="model.c2_c4" (change)="logRadio(c2c44)"> 3:1
            </label>
            <label [class.selected]="c2c45.checked">
                <input #c2c45 type="radio" name="c2_c4" value="1" [(ngModel)]="model.c2_c4" (change)="logRadio(c2c45)"> 1:1
            </label>
            <label [class.selected]="c2c46.checked">
                <input #c2c46 type="radio" name="c2_c4" value="0.33" [(ngModel)]="model.c2_c4" (change)="logRadio(c2c46)"> 1:3
            </label>
            <label [class.selected]="c2c47.checked">
                <input #c2c47 type="radio" name="c2_c4" value="0.2" [(ngModel)]="model.c2_c4" (change)="logRadio(c2c47)"> 1:5
            </label>
            <label [class.selected]="c2c48.checked">
                <input #c2c48 type="radio" name="c2_c4" value="0.14" [(ngModel)]="model.c2_c4" (change)="logRadio(c2c48)"> 1:7
            </label>
            <label [class.selected]="c2c49.checked">
                <input #c2c49 type="radio" name="c2_c4" value="0.11" [(ngModel)]="model.c2_c4" (change)="logRadio(c2c49)"> 1:9
            </label>
        C4
      </h4>
      <h4>
        C2
            <label [class.selected]="c2c51.checked">
                <input #c2c51 type="radio" name="c2_c5" value="9" [(ngModel)]="model.c2_c5" (change)="logRadio(c2c51)" required> 9:1
            </label>
            <label [class.selected]="c2c52.checked">
                <input #c2c52 type="radio" name="c2_c5" value="7" [(ngModel)]="model.c2_c5" (change)="logRadio(c2c52)"> 7:1
            </label>
            <label [class.selected]="c2c53.checked">
                <input #c2c53 type="radio" name="c2_c5" value="5" [(ngModel)]="model.c2_c5" (change)="logRadio(c2c53)"> 5:1
            </label>
            <label [class.selected]="c2c54.checked">
                <input #c2c54 type="radio" name="c2_c5" value="3" [(ngModel)]="model.c2_c5" (change)="logRadio(c2c54)"> 3:1
            </label>
            <label [class.selected]="c2c55.checked">
                <input #c2c55 type="radio" name="c2_c5" value="1" [(ngModel)]="model.c2_c5" (change)="logRadio(c2c55)"> 1:1
            </label>
            <label [class.selected]="c2c56.checked">
                <input #c2c56 type="radio" name="c2_c5" value="0.33" [(ngModel)]="model.c2_c5" (change)="logRadio(c2c56)"> 1:3
            </label>
            <label [class.selected]="c2c57.checked">
                <input #c2c57 type="radio" name="c2_c5" value="0.2" [(ngModel)]="model.c2_c5" (change)="logRadio(c2c57)"> 1:5
            </label>
            <label [class.selected]="c2c58.checked">
                <input #c2c58 type="radio" name="c2_c5" value="0.14" [(ngModel)]="model.c2_c5" (change)="logRadio(c2c58)"> 1:7
            </label>
            <label [class.selected]="c2c59.checked">
                <input #c2c59 type="radio" name="c2_c5" value="0.11" [(ngModel)]="model.c2_c5" (change)="logRadio(c2c59)"> 1:9
            </label>
        C5
      </h4>
      <h4>
        C3
            <label [class.selected]="c3c41.checked">
                <input #c3c41 type="radio" name="c3_c4" value="9" [(ngModel)]="model.c3_c4" (change)="logRadio(c3c41)" required> 9:1
            </label>
            <label [class.selected]="c3c42.checked">
                <input #c3c42 type="radio" name="c3_c4" value="7" [(ngModel)]="model.c3_c4" (change)="logRadio(c3c42)"> 7:1
            </label>
            <label [class.selected]="c3c43.checked">
                <input #c3c43 type="radio" name="c3_c4" value="5" [(ngModel)]="model.c3_c4" (change)="logRadio(c3c43)"> 5:1
            </label>
            <label [class.selected]="c3c44.checked">
                <input #c3c44 type="radio" name="c3_c4" value="3" [(ngModel)]="model.c3_c4" (change)="logRadio(c3c44)"> 3:1
            </label>
            <label [class.selected]="c3c45.checked">
                <input #c3c45 type="radio" name="c3_c4" value="1" [(ngModel)]="model.c3_c4" (change)="logRadio(c3c45)"> 1:1
            </label>
            <label [class.selected]="c3c46.checked">
                <input #c3c46 type="radio" name="c3_c4" value="0.33" [(ngModel)]="model.c3_c4" (change)="logRadio(c3c46)"> 1:3
            </label>
            <label [class.selected]="c3c47.checked">
                <input #c3c47 type="radio" name="c3_c4" value="0.2" [(ngModel)]="model.c3_c4" (change)="logRadio(c3c47)"> 1:5
            </label>
            <label [class.selected]="c3c48.checked">
                <input #c3c48 type="radio" name="c3_c4" value="0.14" [(ngModel)]="model.c3_c4" (change)="logRadio(c3c48)"> 1:7
            </label>
            <label [class.selected]="c3c49.checked">
                <input #c3c49 type="radio" name="c3_c4" value="0.11" [(ngModel)]="model.c3_c4" (change)="logRadio(c3c49)"> 1:9
            </label>
        C4
      </h4>
      <h4>
        C3
            <label [class.selected]="c3c51.checked">
                <input #c3c51 type="radio" name="c3_c5" value="9" [(ngModel)]="model.c3_c5" (change)="logRadio(c3c51)" required> 9:1
            </label>
            <label [class.selected]="c3c52.checked">
                <input #c3c52 type="radio" name="c3_c5" value="7" [(ngModel)]="model.c3_c5" (change)="logRadio(c3c52)"> 7:1
            </label>
            <label [class.selected]="c3c53.checked">
                <input #c3c53 type="radio" name="c3_c5" value="5" [(ngModel)]="model.c3_c5" (change)="logRadio(c3c53)"> 5:1
            </label>
            <label [class.selected]="c3c54.checked">
                <input #c3c54 type="radio" name="c3_c5" value="3" [(ngModel)]="model.c3_c5" (change)="logRadio(c3c54)"> 3:1
            </label>
            <label [class.selected]="c3c55.checked">
                <input #c3c55 type="radio" name="c3_c5" value="1" [(ngModel)]="model.c3_c5" (change)="logRadio(c3c55)"> 1:1
            </label>
            <label [class.selected]="c3c56.checked">
                <input #c3c56 type="radio" name="c3_c5" value="0.33" [(ngModel)]="model.c3_c5" (change)="logRadio(c3c56)"> 1:3
            </label>
            <label [class.selected]="c3c57.checked">
                <input #c3c57 type="radio" name="c3_c5" value="0.2" [(ngModel)]="model.c3_c5" (change)="logRadio(c3c57)"> 1:5
            </label>
            <label [class.selected]="c3c58.checked">
                <input #c3c58 type="radio" name="c3_c5" value="0.14" [(ngModel)]="model.c3_c5" (change)="logRadio(c3c58)"> 1:7
            </label>
            <label [class.selected]="c3c59.checked">
                <input #c3c59 type="radio" name="c3_c5" value="0.11" [(ngModel)]="model.c3_c5" (change)="logRadio(c3c59)"> 1:9
            </label>
        C5
      </h4>
      <h4>
        C4
            <label [class.selected]="c4c51.checked">
                <input #c4c51 type="radio" name="c4_c5" value="9" [(ngModel)]="model.c4_c5" (change)="logRadio(c4c51)" required> 9:1
            </label>
            <label [class.selected]="c4c52.checked">
                <input #c4c52 type="radio" name="c4_c5" value="7" [(ngModel)]="model.c4_c5" (change)="logRadio(c4c52)"> 7:1
            </label>
            <label [class.selected]="c4c53.checked">
                <input #c4c53 type="radio" name="c4_c5" value="5" [(ngModel)]="model.c4_c5" (change)="logRadio(c4c53)"> 5:1
            </label>
            <label [class.selected]="c4c54.checked">
                <input #c4c54 type="radio" name="c4_c5" value="3" [(ngModel)]="model.c4_c5" (change)="logRadio(c4c54)"> 3:1
            </label>
            <label [class.selected]="c4c55.checked">
                <input #c4c55 type="radio" name="c4_c5" value="1" [(ngModel)]="model.c4_c5" (change)="logRadio(c4c55)"> 1:1
            </label>
            <label [class.selected]="c4c56.checked">
                <input #c4c56 type="radio" name="c4_c5" value="0.33" [(ngModel)]="model.c4_c5" (change)="logRadio(c4c56)"> 1:3
            </label>
            <label [class.selected]="c4c57.checked">
                <input #c4c57 type="radio" name="c4_c5" value="0.2" [(ngModel)]="model.c4_c5" (change)="logRadio(c4c57)"> 1:5
            </label>
            <label [class.selected]="c4c58.checked">
                <input #c4c58 type="radio" name="c4_c5" value="0.14" [(ngModel)]="model.c4_c5" (change)="logRadio(c4c58)"> 1:7
            </label>
            <label [class.selected]="c4c59.checked">
                <input #c4c59 type="radio" name="c4_c5" value="0.11" [(ngModel)]="model.c4_c5" (change)="logRadio(c4c59)"> 1:9
            </label>
        C5
      </h4>

        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Submit</button>
        </div>
    </form>
  </div>

    <div class="col-lg-4">
      <iframe src="select2.html" width="800" height="2000" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
</div>
